
.pagination {
  display: inline-block;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}


.pagination a.active {
  background-color: #198754;
  color: white;
  border-radius: 5px;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
  border-radius: 5px;
}

.page-link {
  position: relative;
  display: block;
  padding: 0.5rem 0.75rem;
  margin-left: -1px;
  line-height: 1.25;
  color: #007bff;
  background-color: #fff;
  border: 1px solid #dee2e6;
}

.page-link:hover {
  z-index: 2;
  color: #0056b3;
  text-decoration: none;
  background-color: #e9ecef;
  border-color: #dee2e6;
}

.page-link:focus {
  z-index: 2;
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.page-item:first-child .page-link {
  margin-left: 0;
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}

.page-item:last-child .page-link {
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

.page-item.active .page-link {
  z-index: 1;
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.page-item.disabled .page-link {
  color: #6c757d;
  pointer-events: none;
  cursor: auto;
  background-color: #fff;
  border-color: #dee2e6;
}

/*@charset "UTF-8";*/
/*@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);*/
/** {*/
/*  box-sizing: border-box;*/
/*}*/

/*body {*/
/*  background-image: linear-gradient(to right, #034378, #2d4e68);*/
/*  -webkit-font-smoothing: antialiased;*/
/*  -moz-osx-font-smoothing: grayscale;*/
/*  height: 100vh;*/
/*  font-family: "Open Sans", sans-serif;*/
/*}*/


/*.row {*/
/*  max-width: 600px;*/
/*  margin: 10px auto 0;*/
/*}*/

/*.card {*/
/*  !*float: left;*!*/
/*  padding: 0 1.7rem;*/
/*  width: 50%;*/

/*:root{*/
/*  --background-dark: #2d3548;*/
/*  --text-light: rgba(255,255,255,0.6);*/
/*  --text-lighter: rgba(255,255,255,0.9);*/
/*  --spacing-s: 8px;*/
/*  --spacing-m: 16px;*/
/*  --spacing-l: 24px;*/
/*  --spacing-xl: 32px;*/
/*  --spacing-xxl: 64px;*/
/*  --width-container: 1200px;*/
/*}*/

*{
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*html{*/
/*  height: 100%;*/
/*  font-family: 'Montserrat', sans-serif;*/
/*  font-size: 14px;*/
/*}*/

/*body{*/
/*  height: 100%;*/
/*}*/

.hero-section {
  align-items: flex-start;
  /*background-image: linear-gradient(15deg, #0f4667 0%, #2a6973 150%);*/
  /*background-image: url("back-ground-card.jpg");*/

  /*background-image: url(back-ground-card2.jpg) ;*/
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  /*background-color: #999;*/

  display: flex;
  min-height: 100%;
  justify-content: center;
  padding: var(--spacing-xxl) var(--spacing-l);
}


.card-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-column-gap: var(--spacing-l);
  grid-row-gap: var(--spacing-l);
  max-width: var(--width-container);
  width: 100%;
}

@media (min-width: 540px) {
  .card-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 960px) {
  .card-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}
/*Section-devide*/
.section-divide{
  width: 500px;
  justify-content: center;
}
.section-divide h2 {
  width: 100%;
  color: #36365C;
  font-family: "Roboto", Sans-serif;
  font-size: 50px;
  font-weight: 600;
  line-height: 60px;
  padding-top: 25px;
}
/*Section-devide*/
.items-detail a {
  width: 15%;
  font-size: .9em;
  text-decoration: none;
  font-weight: bold;
  line-height: 17px;
  text-transform: uppercase;
  color: #fff;
  display: inline-block;
  margin: 0 5px;
  border: 2px solid transparent;
  border-bottom: 1px solid #FF6C37;
  padding: 15px;
  transition: .5s ease-in-out;
}

.items-detail a:hover {
  border: 2px solid #FF6C37;
  background: #FF6C37;
  color: white;
  border-radius: 30px;
  transition: .4s;
}

.card {
  list-style: none;
  position: relative;
  border-radius: var(--spacing-l);
}

.card:before {
  content: '';
  display: block;
  padding-bottom: 150%;
  width: 100%;
}

.card__background {
  background-size: cover;
  background-position: center;
  border-radius: var(--spacing-l);
  bottom: 0;
  filter: brightness(0.75) saturate(1.2) contrast(0.85);
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transform-origin: center;
  trsnsform: scale(1) translateZ(0);
  transition: filter 200ms linear,
  transform 200ms linear;
}

.card:hover .card__background {
  transform: scale(1.05) translateZ(0);
}

.card-grid:hover > .card:not(:hover) .card__background {
  filter: brightness(0.5) saturate(0) contrast(1.2) blur(20px);
}

.card__content {
  left: 0;
  padding: var(--spacing-l);
  position: absolute;
  top: 0;
}

.card__category {
  color: var(--text-light);
  font-size: 0.9rem;
  margin-bottom: var(--spacing-s);
  text-transform: uppercase;
}

.card__heading {
  color: var(--text-lighter);
  font-size: 1.4rem;
  text-shadow: 2px 2px 20px rgba(0, 0, 0, 0.2);
  line-height: 1.4;
  /*word-spacing: 100vw;*/
}

