<br>
<br>
<div class="container">
  <section class="content">
    <article class="demo-area">
      <img class="demo-trigger" src="http://static.nhanam.com.vn/thumb/0x500/crop/Books/Images/2022/5/31/YJIW1LG6.jpg">
      <div class="detail">
        <section>
          <h3>GIÁO SƯ PHIÊU LƯU KÝ</h3>
          <p>Thông tin:</p>
          <ul>
            <li>Tác giả: Vũ Hà Văn</li>
            <li>Nhà xuất bản: Hội nhà văn</li>
            <li>Hình thức bìa: Bìa cứng</li>
            <li>Số trang: 260</li>
            <li>Ngày phát hàng: 08-06-2022</li>
          </ul>
          <h4>120.000 ₫ <a role="button" class=" btn btn-primary m-2 " routerLink="/cart">
            <span style="font-size: 80%;!important;">Thêm vào giỏ hàng</span> </a></h4>
        </section>
      </div>
    </article>
  </section>
</div>
<div class="container">
  <div class="row">
    <h1>Nội dung : </h1>
    <p>“Ba mươi năm qua, tôi đã đi rất nhiều nơi trên quả đất này, và các bạn cũng vậy. Nhưng sâu thẳm trong tâm hồn, có
      lẽ bạn vẫn muốn về qua nơi ấy, nơi của những tháng ngày sôi nổi, của tuổi trẻ và ước mơ, với hơi ấm của bàn tay và
      nhịp đập dồn dập trong lồng ngực.
      Nơi bạn đã tìm ra con đường của riêng mình.”

      Rất nhiều người biết đến giáo sư Vũ Hà Văn với tư cách là một nhà toán học có nhiều đóng góp quan trọng cho toán
      học thế giới. Nhưng tập sách này dĩ nhiên không phải là một công trình toán học vốn rất ít người hiểu nổi, mà nó
      bao gồm nhiều bài viết chia sẻ góc nhìn thú vị và sâu sắc, rành mạch và đáng suy ngẫm về nhiều câu chuyện của lịch
      sử, văn hóa, giáo dục, nghệ thuật.</p>
  </div>

</div>
<br>
<br>
