<br>
<br>
<div class="container h-100">
  <div class="row d-flex justify-content-center align-items-center h-100">
    <div class="col">
      <p><span class="h2">Giỏ hàng </span></p>

      <div class="card mb-4">
        <div class="card-body p-4">

          <div class="row align-items-center">
            <div class="col-md-2">
              <img src="http://static.nhanam.com.vn/thumb/0x320/crop/Books/Images/2022/5/31/YJIW1LG6.jpg"
                   class="img-fluid" alt="Generic placeholder image">
            </div>
            <div class="col-md-2 d-flex justify-content-center">
              <div>
                <p class="small text-muted mb-4 pb-2">Tên Sách</p>
                <p class="lead fw-normal mb-0">Giáo sư phiêu lưu ký</p>
              </div>
            </div>
            <div class="col-md-2 d-flex justify-content-center">
              <div>
                <p class="small text-muted mb-4 pb-2">Tác giả</p>
                <p class="lead fw-normal mb-0">Vũ Hà Văn</p>
              </div>
            </div>
            <div class="col-md-2 d-flex justify-content-center">
              <div>
                <p class="small text-muted mb-4 pb-2">Đơn giá</p>
                <p class="lead fw-normal mb-0">120.000 ₫ </p>
              </div>
            </div>
            <div class="col-md-2 d-flex justify-content-center">
              <div>
                <p class="small text-muted mb-4 pb-2">Số lượng</p>
                <div class="wrapper">
                  <span class="minus">-</span>
                  <span class="num">01</span>
                  <span class="plus">+</span>
                </div>
              </div>
            </div>

            <div class="col-md-2 d-flex justify-content-center">
              <div>
                <p class="small text-muted mb-4 pb-2">Thành tiền</p>
                <p class="lead fw-normal mb-0">120.000 ₫ </p>
              </div>
            </div>
          </div>

        </div>
      </div>

      <div class="card mb-4">
        <div class="card-body p-4">

          <div class="row align-items-center">
            <div class="col-md-2">
              <img src="http://static.nhanam.com.vn/thumb/0x320/crop/Books/Images/2019/6/21/C5FA2DHX.jpg"
                   class="img-fluid" alt="Generic placeholder image">
            </div>
            <div class="col-md-2 d-flex justify-content-center">
              <div>
                <p class="small text-muted mb-4 pb-2">Tên Sách</p>
                <p class="lead fw-normal mb-0">Về nhà</p>
              </div>
            </div>
            <div class="col-md-2 d-flex justify-content-center">
              <div>
                <p class="small text-muted mb-4 pb-2">Tác giả</p>
                <p class="lead fw-normal mb-0">Phan Việt</p>
              </div>
            </div>
            <div class="col-md-2 d-flex justify-content-center">
              <div>
                <p class="small text-muted mb-4 pb-2">Đơn giá</p>
                <p class="lead fw-normal mb-0">104.000 ₫ </p>
              </div>
            </div>
            <div class="col-md-2 d-flex justify-content-center">
              <div>
                <p class="small text-muted mb-4 pb-2">Số lượng</p>
                <div class="wrapper">
                  <span class="minus">-</span>
                  <span class="num">01</span>
                  <span class="plus">+</span>
                </div>
              </div>
            </div>

            <div class="col-md-2 d-flex justify-content-center">
              <div>
                <p class="small text-muted mb-4 pb-2">Thành tiền</p>
                <p class="lead fw-normal mb-0">104.000 ₫ </p>
              </div>
            </div>
          </div>

        </div>
      </div>

      <div class="card mb-5">
        <div class="card-body p-4">

          <div class="float-end">
            <p class="mb-0 me-5 d-flex align-items-center">
              <span class="small text-muted me-2">Tổng tiền:</span> <span
              class="lead fw-normal">224.000 ₫</span>
            </p>
          </div>

        </div>
      </div>

      <div class="d-flex justify-content-end">
        <button type="button" class="btn btn-danger">Mua hàng</button>
      </div>

    </div>
  </div>
</div>
<br>
<br>

